footer {
  background-color: #1D1D1D;
  flex-shrink: 0;
  margin: 0 auto;
  padding: 0.5em 0;
  width: 100%;
}

.site-title-footer {
  color: #BDBDBE;
}

.theme-tagline {
  
  align-self: flex-end;
  color: #BDBDBE;
  padding: 0 1.5em 0 0;
  text-align: right;

  > a {
    color: #BDBDBE;
    text-decoration: none;
  }
}