.teaser-bar {
  background-color: #FFFFFF;
  border: 1px solid #CECECE;
  box-shadow: 5px 5px 5px #BDBDBE;
  margin: 1.5em 0;
  padding: 1em;

  &-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &-title {
    margin: 0 0 1em;
  }
}

.teaser-item {
  flex-basis: 30%;
  flex-grow: 1;

  &:nth-last-of-type(2) {
    margin: 0 1em;
  }
}

.featured-story {

  &:hover {
    transform: translate(-3px, -3px);
  }

  &:nth-of-type(1):hover {
    box-shadow: 0 0 1.5em #536ADE;
  }
  
  &:nth-of-type(2):hover {
    box-shadow: 0 0 1.5em #29BF89;
  }
  
  &:nth-of-type(3):hover {
    box-shadow: 0 0 1.5em #EB4839;
  }
}

.home-page-teaser {
  opacity: 0.8;
}

.home-page-teaser:hover {
  opacity: 1;
}

.teaser-content {
  padding: 0 5px;
}

.teaser-link {
  color: black;
  text-decoration: none;
}

.teaser-featured-image {
  margin: 0 0 1em 0;
  text-align: center;

  & img {
    width: auto;
  }
}