.search {
  
  &-form {
    position: relative;
  }

  &-input {
    border: solid 1px #BDBDBE;
    border-right: none;
    padding: 5px;
    width: 100%;
  }

  &-submit {
    background-color: #BDBDBE;
    background-image: url('assets/icons/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: solid 1px #BDBDBE;
    border-left: none;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    z-index: 2;
  }
}

.search-result {

  &-list {
    padding-top: 2em;
  }

  &-item {
    display: flex;
    padding: .5em;

    &:hover {
      box-shadow: 0 0 1.5em #64C2EC;
    }
  }

  &-link {
    text-decoration: none;
    color: #000000;
  }

  &-thumbnail {
    align-self: center;
    flex-basis: 20%;
  }

  &-content {
    flex-basis: 80%;
  }
}

.result-post {

  &-featured-image {
    margin: 1em 2em 0 0;
  }
}