.search-result {

  &-item {
    display: flex;
    padding: .5em;

    &:hover {
      box-shadow: 0 0 1.5em #64C2EC;
    }
  }

  &-link {
    text-decoration: none;
    color: #000000;
  }

  &-thumbnail {
    align-self: center;
    flex-basis: 20%;
  }

  &-content {
    flex-basis: 80%;
  }
}

.result-post {

  &-featured-image {
    margin: 1em 2em 0 0;
  }
}